html, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, center, ol, ul, li, fieldset, form, label, footer, header, 
menu, nav, section {
    margin: 0;
	padding: 0;
    border: 0;
}

body {
    background-color:#0F1112;
}

@font-face {
    font-family: Barlow_Semi_Condensed;
    src: url(../bilder/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../bilder/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Italic;
    src: url(../bilder/Roboto/Roboto-Italic.ttf);
}

* {
    box-sizing: border-box;
}


h1 {
    font-family: Barlow_Semi_Condensed;
}

h2 {
    font-family: Barlow_Semi_Condensed;
}

p {
    font-family: Roboto;
    font-size: 20px;
}

/*--------------NAVIGATION-----------------------------------------------*/

.spacelogo_tablet {
    display: none;
}

#hamburger {
    display: none;
}

#spacex_logo {
    width: 100%;
    margin: 0 20px 0 20px;
}


nav {
    background-color: black;
    height: 110px;
}

li {
    margin-top: 10px;
}

.menu {
    display: flex;
}

.nav_links {
    flex: 1;
    margin: 0px 60px 0 60px;
    font-size: 48px;
    text-decoration: none;
    color: #A7A9AC;
    text-transform: uppercase;
    font-family: Barlow_Semi_Condensed;
    padding: 8px;
    transition: 0.5s;
}

.nav_links:hover {
    background-color: #005288;
    border-radius: 10px;
    padding: 8px;
}



/*--------------NAVIGATION-----------------------------------------------*/

/*--------------HEROIMG-----------------------------------------------*/
.hero_imgfront {
    width: 100%;
}

.first_img_front {
    width: 100%;
    height: 100%;
}
/*--------------HEROIMG----------------------------------------------------*/

/*--------------COUNTER FRONT----------------------------------------------------*/

#nextlaunch{
    background-color: black;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 5px;
    color: white;
    
}

#container_clock {
    display: flex;
    text-align: center;
}

#counter {
    flex: 1;
}

.clock_hour_min_sec  {
    display: inline-block;
}
   

.clock_hour_min_sec {
    font-size: 48px;
    padding: 0 0 0 0;
    font-family: Roboto;
    margin: 40px 0 0 20px;    
}

#day_clock {
    font-size: 48px;
    font-family: Roboto;
    padding: 20px 0 0 0;
}

.clock_txt {
    font-size: 35px;
    margin: 0 10px 0 15px;
    text-transform: uppercase;
    font-family: Roboto;
}


/*--------------COLUMNS_FRONT-PAGE----------------------------------------------------*/

.container_frontpage {
    display: flex;
    clear: right;
}

.columns_front {
    flex: 1;
}


.column_text {
    color: white;
    padding: 25px;
    max-width: 80%;;
    border-radius: 12px;
    border: white solid 2px;
    margin: 0 auto;
}



.paragraph_front {
    padding-bottom: 20px;
    padding-top: 30px;
}

.frontpage_heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: white;
    margin: 20px 0 30px 0;
    padding-top: 10px;
}


.button_front {
    background-color: #005288;
    padding: 20px;
    font-size: 32px;
    float: right;
    border-radius: 15px;
    color: white;
    margin: 60px 90px 20px 0;
    text-decoration: none;
    font-family: Barlow_Semi_Condensed;
    text-transform: uppercase;
}

.button_front:hover {
    padding: 20px;
    border-radius: 15px;
    background-color: #2a5f83;
}


/*--------------COLUMNS_FRONT-PAGE----------------------------------------------------*/


/*--------------COLUMNS_FRONT-MIDDLE-PAGE----------------------------------------------------*/

#container_middle {
    display: flex;
}

#columns_front_middle_2 {
    flex: 1;
    background-color: white;
}

#columns_front_middle_1{
    flex: 1;
}

#middle_column_front {
    color: white;
    background-color: white;
    width: 80%;
    padding: 25px;
    border-radius: 12px;    
    border: black solid 2px;
    margin: 20px 0 20px 80px;
}

.middle_column_text {
    background-color: white;
    color: black;
}

#frontpage_middleheading {
    background-color: white;
    text-transform: uppercase;
    font-family: Barlow_Semi_Condensed;
    text-align: center;
    font-size: 48px;
    padding-top: 10px;
    margin-top: 20px;
}

/*--------------COLUMNS_FRONT-MIDDLE-PAGE----------------------------------------------------*/

/*--------------ABOUT HTML-------------------------------------------------------------------*/

/*--------------NAVIGATION---------*/
#higlight {
    background-color: #005288;
    border-radius: 10px;
    padding: 1px 30px;
}

#img_link {
    background-color: black;
    border-radius: 10px;
    padding: 8px;
}



/*----------LAYOUT - ABOUT-----------------------------*/
#intro_about {
    background-color: white;
    height: 470px;
}

.heading_about {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0 25px 0;
    font-family: Barlow_Semi_Condensed;
}

#mission_statement {
    text-align: center;
    font-family: Roboto-Italic;
    font-size: 24px;
}

#aboutus_statement {
    font-family: Roboto;
    font-size: 20px;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

#aboutus_statement_2 {
    font-family: Roboto;
    font-size: 20px;
    max-width: 1350px;
    margin: 0 auto;
}



#container_diduknow {
    display: flex;
}

.didu_know_flex {
    flex: 1;
    background-color: #0F1112;
    margin: 0 0 0 25px;
}

.images_about {
    width: 90%;
    margin: 10px;
}

.heading2_about {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    margin: 25px 0 25px 0;
}

.paragraph_about {
    color: white;
    font-size: 20px;
    margin: 15px 55px 25px 10px;
}

#facilities {
    height: 750px;
    background-color: white;
}

#background_container {
    background-color: white;
}

#map_container {
    display: flex;
    flex-wrap: wrap;
}

.map {
    flex: 1;
    margin: 15px 15px;
}



/*--------------ABOUT-LAYOUT-------------------------------------------------------------------*/

/*--------------FOOTER----------------------------------------------------------------------*/

footer {
    background-color: blue;
    width: 100%;
    padding: 60px 0;
}


/*--------------FOOTER----------------------------------------------------------------------*/


/*--------------MEDIAQUERIES TABLETS----------------------------------------------------*/

@media only screen and (max-width: 1400px) {
    /*--------NAVIGATION------------------*/

    #hamburger {
        display: block;
        position: absolute;
        color: white;
        font-size: 30px;
        background-color:black;
        border: none;
        outline: none;
        margin-top: 30px;
    }

    #img_tablets_mobile {
        display: none;
    }


    .menu {
        padding: 20px 0 0 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        overflow-x: hidden;
        background-color: #22272B;
        z-index: 1;
        display: block;
        list-style-type: none;
        transition: width.7s;
    }

    .nav_links {
        font-size: 26px;
    }
    

    .menu.open {
        width: 250px;
        transition: width.7s;
    }

    .spacelogo_tablet {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------COUNTDOWN-------------*/
    .clock_hour_min_sec {
        font-size: 28px;
        padding: 0 0 0 0;
        font-family: Roboto;
        margin: 50px 0 0 5px;    
    }

    .clock_txt {
        font-size: 28px;
        margin: 0 5px 0 5px;
        text-transform: uppercase;
        font-family: Roboto;
    }

    #day_clock {
        font-size: 32px;
    }

    /*-------------layout-tablets---------------*/

    .container_frontpage {
        display: flex;
        flex-direction: column-reverse;
    }  

    .columns_front {
        flex: 1 100%;
    }  

    #container_middle {
        flex-direction: column;
    }

    #columns_front_middle_1 {
        flex: 1 100%;
    }

    #columns_front_middle_2 {
        flex: 1 100%;
    }

    .button_front {
        background-color: #005288;
        padding: 20px;
        font-size: 26px;
        margin: 30px 40px 30px 0;
    }

    .column_text {
        color: white;
        max-width: 90%;
        padding: 15px;
        border-radius: 12px;
        border: white solid 2px;
    }

    #middle_column_front {
        color: white;
        background-color: white;
        width: 90%;
        padding: 15px;
        border-radius: 12px;    
        border: black solid 2px;
        margin: 20px 0 20px 40px;
    }

    


  /*-----------ABOUT---------------------------*/
  
    #aboutus_statement {
        max-width: 700px;
        text-align: center;
    }

    #aboutus_statement_2 {
        max-width: 700px;
        text-align: center;
    }

    #container_facilities {
        flex-direction: column;
    }

    #container_diduknow {
        display: flex;
        flex-wrap: wrap;
    }

    .didu_know_flex {
        flex: 1 45%;
    }

    #container {
        display: flex;
        flex-wrap: wrap;
    }

    .paragraph_about {
        margin: 10px 30px 15px 10px;
    }
    
    .images_about {
        margin: 25px 10px 10px 10px;
    }


}
@media only screen and (max-width: 767px) {

    /*--------NAVIGATION------------------*/
    .paragraph_front {
        font-size: 18px;
    }

    .spacelogo_tablet {
        width: 60%;
        bottom: 45px;
    }

    #hamburger {
        margin-top: 20px;
    }



    /*--------LAYOUT------------------*/

    .frontpage_heading {
        font-size: 34px;
    }

    .paragraph_front {
        font-size: 16px;
    }

    .button_front {
        font-size: 28px;
        padding: 15px;
    }

    #frontpage_middleheading {
        font-size: 34px;
    }

    .middle_column_text {
        font-size: 16px;
    }

    #middle_column_front {
        max-width: 90%;
        margin: 10px 0 10px 20px;
    }

    /*-----------------------*/
    .clock_txt {
        font-size: 18px;
    }

    #day_clock {
        font-size: 18px;
    }

    .clock_hour_min_sec {
        font-size: 18px;
    }

      /*-------ABOUT PHONE----------------*/

    #mission_statement {
        font-size: 20px;
        margin: 0 10px 0 10px;
    }

    #aboutus_statement {
        font-size: 16px;
        margin: 0 10px 0 10px;
    }

    #aboutus_statement_2 {
        font-size: 16px;
        margin: 0 10px 0 10px;
    }

    .heading_about {
        font-size: 38px;
    }

    #heading2_about {
        font-size: 38px;
    }

    .paragraph_about {
        font-size: 16px;
    }

}